<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-title" content="{{ title|escape('html_attr') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" href="/css/base.css">
    {% include ['components/links_' + theme + '.html', 'components/links_default.html'] %}
</head>
<body>
<div id="stats_container"></div>
<div id="quake_info_container"></div>
<div id="map"></div>
{{ '<script src="/socket.io/socket.io.js"></script>' }}
<script src="/js/util.js"></script>
<script src="/js/quakemap.js"></script>
<script src="/js/map-{{ theme|escape('html_attr') }}.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key={{ google_maps_key|escape('url') }}&callback=initMap" async defer></script>
{% include 'components/disclaimer.html' %}
{% include 'components/trackers.html' ignore missing %}
</body>
</html>